*{
    font-size:xxlarge;
    
}
body{
    background-color:rgb(77, 173, 233);
    background-image: linear-gradient(to left,lightblue , rgb(51, 74, 224));
    background-repeat: no-repeat;
    background-position:center;
    background-size:100%;
    background-size: 100%;
    color: white;
    
    size: 100%;
    text-shadow:
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
    
    
}
input[type="text"] ,input[type="number"],input[type="tel"]{
    width : 25%;
    height: auto;
   background-color: lightblue;
    color: rgb(255, 255, 255);
    padding: 5px;
    text-shadow:
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
}
 textarea , input[type="text"],input[type="number"],input[type="tel"]{
   
   background-color: lightblue
    border: 1px solid white;
    text-shadow:
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
}
input:focus{
    background:transparent;
   
}
textarea:focus{
    background-color:transparent;

}

::placeholder{
    color:rgb(255, 255, 255);
    font-size: 15px;
    text-shadow:
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
}
textarea{
    background-color: lightblue;
    resize: none;
    width : 50%;
    height: auto;
}
.sub,.res,.Home{
    cursor:pointer;
    color: rgb(255, 255, 255);
    background-color:lightblue ;
    backdrop-filter:blur(4px);
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 100px;
    border: 1px solid rgb(255, 252, 252);
    text-shadow:
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;

}

h1{
    text-align: center;
}
/*when the buttons work*/
.sub:active{
    background-color:lightgreen;
    color: black;
    text-shadow: none;
}
.res:active{
    background-color:red;
    color: black;
    text-shadow: none;
}
.Home:active{
    background-color:yellow;
    color: black;
    text-shadow: none;
}
 
